.hover:hover{
 cursor: pointer;
 /*font-size: 18px;*/
 /*color: #369688;*/
}

.hover-content:hover{
 cursor: pointer;
 border-left-color: #009688;
 border-bottom: 0;
}

.radius{
 border-radius: 8px;
}

.font-10{
 font-size: 10px;
}


.hidden-content{
 display: none;
}

.grey-color{
 color: #212529;
}

.border-grey-color{
 border: 1px solid #212529;
 border-radius: 6px;
 padding: 8px;
}

.text-white{
 color: #fff;
}

.bg-primary-light{
 background: #3c8dbc;
}

.splitter{
 padding: 16px;width: 50px;border-radius: 4px;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.box{
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.main-sidebar{
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}



.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#3c8dbc;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:25px;
}

hr{
 border-top: 1px solid #f4f4f4 !important;
}

.padding-16{
 padding: 16px;
}

.register-box-body{
 border-radius: 4px;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login-box-body{
 border-radius: 4px;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.images {
 display: flex;
 flex-wrap:  wrap;
 margin-top: 20px;
}

.images .img,
.images .pic {
 flex-basis: 31%;
 margin-bottom: 10px;
 border-radius: 4px;
}

.images .img {
 width: 112px;
 height: 250px;
 background-size: cover;
 margin-right: 10px;
 background-position: center;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 position: relative;
 overflow: hidden;
}

.images .img:nth-child(3n) {
 margin-right: 0;
}

.images .img span {
 display: none;
 text-transform: capitalize;
 z-index: 2;
}

.images .img::after {
 content: '';
 width: 100%;
 height: 100%;
 transition: opacity .1s ease-in;
 border-radius: 4px;
 opacity: 0;
 position: absolute;
}

.images .img:hover::after {
 display: block;
 background-color: #000;
 opacity: .5;
}

.images .img:hover span {
 display: block;
 color: #fff;
}

.images .pic {
 background-color: #F5F7FA;
 align-self: center;
 text-align: center;
 padding: 40px 0;
 text-transform: uppercase;
 color: #848EA1;
 font-size: 12px;
 cursor: pointer;
}

#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
}